html,body {
	font-family: Nunito Sans;
	color: #c2c2c2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
	text-align:center;
	
}

/* Premiere partie */
.first-section {
	background:#39446d ;
	width: 100%;
    height: 100%;
	position : relative ;
	z-index : 1;
}
.first-section h1 {
    margin:0;
    padding-top:10px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.bloc11stsection{
	position:absolute;
	margin: 150px auto;
	width:100%;
}







.start button {
	
	position : absolute;
	
	color:#ffffff;
   
    display: block;
    font-size: 20px;
    background-color: #7289DA;
    border: 0px solid #7289DA;
    border-radius: 10px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    outline: none;
    transition: 0.5s all;
	box-shadow: 2px 2px 2px black;
}

.start img {
	padding-right: 10px;
	
}

.start button:hover {
	cursor: pointer;
	background-color:#8ea0e1;
	
	
	
}

/* deuxieme partie */
.second-section{
	
	background:black ;
	
	width: 100%;
    height: 100%;
	position : relative ;
	z-index : 1;
}
.second-section h1 {
    margin:0;
    padding:150px 0 0 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

/* Troisieme partie */
.third-section{
	
	background:#39446d ;
	
	width: 100%;
    height: 100%;
	position : relative ;
	z-index : 1;
}
.third-section h1 {
    margin:0;
    padding:150px 0 0 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}





/* Menu */
header
{
	
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 10%;
	background-color:#2C2F33;
}
header img {
	padding-left : 2%;
}
.titre
{
	color:#ffffff;
	padding-right: 3%;
	padding-left: 1%;
}
.methodeShlag {
	padding-top:100%;
	background-color:white;
}


header nav a:hover
{
	cursor: pointer;
	color:white;
	
	
	
	
}
header nav  {
    padding-left: 3%;
}

/* Pied de page */
footer
{
	color:#ffffff;
	
	text-align:left;
	background-color:#2C2F33;
}
footer .infofooter{/* Pied de page */
	
	padding-left: 3%;
	padding-bottom: 3%;
}
footer ul {
	color:#c2c2c2;
}


	
	


/* Scrollbar */

::-webkit-scrollbar {
  width: 1%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2C2F33;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #39446d;
  border-radius: 10px;
  box-shadow: 0px 3px 5px black;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7289DA;
}
