html,body {
	font-family: Nunito Sans;
	color: #c2c2c2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
	text-align:center;
	
}

/* Premiere partie */
.first-section {
	
	background:#39446d ;
	width: 100%;
    height: 100%;
	position : relative ;
	z-index : 1;
}
.first-section h1 {
    margin:0;
    padding-top:10px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.bloc11stsection{
	position:absolute;
	margin: 150px auto;
	width:100%;
}
.bordureheader {
	margin-top:-2px;
	float:left;
	margin-left:-100px;
}






.start button {
	
	position : absolute;
	
	color:#ffffff;
   
    display: block;
    font-size: 20px;
    background-color: #7289DA;
    border: 0px solid #7289DA;
    border-radius: 10px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    outline: none;
    transition: 0.5s all;
	box-shadow: 2px 2px 2px black;
}

.start img {
	padding-right: 10px;
	
}

.start button:hover {
	cursor: pointer;
	background-color:#8ea0e1;
	
	
	
}

/* deuxieme partie */
.second-section{
	
	background:black ;
	
	width: 100%;
    height: 100%;
	position : relative ;
	z-index : 1;
}
.second-section h1 {
    margin:0;
    padding:150px 0 0 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

/* Troisieme partie */
.third-section{
	
	background:#39446d ;
	
	width: 100%;
    height: 100%;
	position : relative ;
	z-index : 1;
}
.third-section h1 {
    margin:0;
    padding:150px 0 0 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}





/* Menu */
header
{
	
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 10%;
	background-color:#2C2F33;
}
header img {
	padding-left : 20px;
}
.titre
{
	color:#ffffff;
	padding-right: 30px;
	padding-left: 10px;
}
.methodeShlag {
	padding-top:100%;
	background-color:white;
}


header nav a:hover
{
	cursor: pointer;
	color:white;

}

@media all and (max-width: 1024px){
	.nav {
		display:none;
	
	}


}



@media all and (min-width: 1024px){
	.menumobile {
		display:none;
	
	}


}
	
	
header nav  {
    padding-left: 30px;
}

/* Pied de page */
footer
{
	color:#ffffff;
	
	text-align:left;
	background-color:#2C2F33;
}
footer .infofooter{/* Pied de page */
	
	padding-left: 30px;
	padding-bottom: 30px;
}
footer ul {
	color:#c2c2c2;
}
.bordurefooter{
	float:left;
	margin-top:-2px;
	margin-left:-100px;
}

	
.languette{
	float:center;
	margin-top:-2px;
}


/* Scrollbar */

::-webkit-scrollbar {
  width: 1%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2C2F33;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #39446d;
  border-radius: 10px;
  box-shadow: 0px 3px 5px black;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7289DA;
  
  
  
}







#menumobile, #menumobile ul{
float:right;
padding:0;
margin:0;
list-style:none;
text-align:right;
}
#menumobile li{
display:inline-block;

margin-right:0%;
padding-right:30px;
border-radius:8px 8px 0 0;
text-align:right;

}
#menumobile ul li{
display:inherit;
border-radius:0;
}
#menumobile ul li:hover{
border-radius:0;
}

#menumobile ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menumobile li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menumobile li{
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}

/* background des liens sous menus */
#menumobile li{
background:#677F35;
}
/* background des liens menus et sous menus au survol */
#menumobile li:hover, #menumobile li li:hover{
background:#65537A;
}

/* les a href */

#menumobile a{
	
	width:100%;
	text-align:right;
	text-decoration:none;
	display:block;
	padding-right:60px;
	padding-left:6px;
	color:#fff;

}


















